* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

/* INIZIO REGOLE GENERALI */
body {
  min-width: 500px;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
  color: grey;
}
a:hover {
  color: white;
}
ul{
  list-style-type: none;
}
.titolo {
  color: white;
}
.sottotitolo {
  color: grey;
}
/* FINE REGOLE GENERALI */

/* INIZIO MAIN */
.wrapper {
  height: calc(100vh - 70px);
}
.wrapper::after {
  content: "";
  clear: both;
  display: table;
}
/* inizio side-bar */
/* inizio col-sx-xs */
.col-sx-xs ul:first-of-type {
  height: calc(100vh - 165px);
}
.col-sx-xs li {
  height: 30px;
  width: 30px;
  margin: auto;
  margin-top: 10px;
}

.col-sx-xs img {
  height: 100%;
}
.col-sx-xs {
  display: none;
  background-color: black;
  color: white;
  float: left;
  width: 60px;
  height: 100%;
}
/* fine col-sx-xs */

/* inizio col-sx-md */
.col-sx-md {
  background-color: black;
  color: white;
  float: left;
  width: 170px;
  height: 100%;
}
.col-sx-md > .logo {
  padding-top: 20px;
  margin: 0 20px;
}
.col-sx-md > ul img {
  height: 24px;
  vertical-align: middle;
}
.col-sx-md > ul {
  margin-top: 10px;
}
.col-sx-md > ul li:first-of-type {
  border-left:3px solid #6cff2ff0;
}
.col-sx-md li {
  padding: 10px;
  font-size: 12px;
}
.col-sx-md h3 {
  margin-top: 10px;
  padding-left: 10px;
}
.col-sx-md > p {
  padding-top: 10px;
}
.col-sx-md > p i {
  vertical-align: middle;
  font-size: 31px;
  padding:0 5px 0 10px;
}
.col-sx-md .playlist {
  overflow-y: auto;
  width: 100%;
  height: calc(100vh - 417px);/* NOTE: da modificare quando do altezza con altre cose */
}
.col-sx-md .playlist li:last-child {
  width: 100%;
  background-color: black;
}
.col-sx-md .user {
  font-size: 14px;
  padding: 0 10px;
}
.col-sx-md .user img {
  height: 16px;
  vertical-align: middle;
}
.col-sx-md .user hr  {
  margin: 5px 0;
}
.col-sx-md .user > img {
  background-color: grey;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
/* fine col-sx-md */
/* fine side-bar */

/* inizio col-dx */
.col-dx {
  float: left;
  width: calc(100% - 170px);
}
.col-dx .nav {
  z-index: 200;
  height: 80px;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 170px;
  right: 0;
}
.col-dx .nav button {
  margin-right: 20px;
  margin-top: 25px;
  padding: 5px 30px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.col-dx .nav button:hover {
  transform: scale(1.1);
}
.col-dx .nav a {
  font-size: 16px;
}
.col-dx .content {
  padding-top: 80px;
  color: white;
  overflow-y: auto;
  background-color: #141923;
  height: calc(100vh - 70px);
}
.col-dx .content .nav-content ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.col-dx .content .nav-content li {
  position: relative;
  display: inline-block;
  margin: 20px;
  font-size: 14px;
  padding: 5px;
}
.col-dx .content .nav-content li:first-of-type span {
  border: 1px solid lightgreen;
  height: 0;
  position: absolute;
  top: 100%;
  left: 30%;
  width: 40px;
}
.col-dx .content h2 {
  padding: 25px 0 0 10px;
}
.col-dx .content h4 {
  padding: 5px 0 0 10px;
}
.col-dx .content .box .titolo ,
.col-dx .content .box .sottotitolo {
  padding: 5px 0;
}
.row-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.row-content .box {
  text-align: center;
}
.row-content .box .img{
  position: relative;
  width: 180px;
  height: 180px;
}
.row-content .box img {
  width: 180px;
  height: 180px;
  padding: 10px;
}
.row-content:last-of-type .box img {
  border-radius: 50%;
}
/* per hover su img */
.row-content .hover-play {
  display: none
}
.row-content .img:hover .hover-play {
  width: 160px;
  height: 160px;
  display: inherit;
  position: absolute;
  font-size: 50px;
  transform: translate(-50% , -50%);
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}
.row-content .img:hover .hover-play i{
  position: absolute;
  transform: translate(-50% , -50%);
  top: 50%;
  left: 50%;
}
.row-content:last-of-type .img:hover .hover-play {
  border-radius: 50%;
}
/* inizio col-dx */
/* FINE MAIN */

/* INIZIO FOOTER */
footer {
  height: 70px;
  background-color: rgba(41, 41, 41, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* inizio sx */
.sx {
  display: flex;
  padding-left: 10px;
  align-items: center;
}
.sx li {
 font-size: 12px;
}
.sx img {
  height: 40px;
  padding-right: 3px;
}
.sx ul:last-of-type li {
  font-size: 18px;
  padding-left: 10px;
}
/* inizio sx */

/* inizio center */
.center {
  flex-grow: 2;
}
.center .top-player {
  display: flex;
  justify-content: center;
}
.center li {
  display: inline-block;
  padding: 0 10px;
}
.center li:nth-child(3) {
  font-size: 30px;
  vertical-align: middle;
}
.center li:nth-child(3):hover {
  transform: scale(1.2);
}
.center li i {
  color: white;
}
.center .bot-player {
  display: flex;
  justify-content: center;
  font-size: 10px;
  color: white;
}
.center .bot-player .riga-player {
  margin: 0 10px;
  align-self: center;
  height: 0;
  width: 70%;
  border: 2px solid grey;
  border-radius: 2px;
  position: relative;

}
.center .bot-player .riga-player span {
  position: absolute;
  top: -2px;
  left: -2px;
  height: 0px;
  width: 12%;
  border: 2px solid white;
  border-radius: 2px;
}
.center .bot-player .riga-player:hover span {
    border-color: lightgreen;
}
.center .bot-player .riga-player:hover span::after {
  content: '';
  border: 7px solid white;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  right: -10px;
  height: 0px;
}
.center .bot-player .riga-player:hover {
  cursor: pointer;

}
/* fine center */

/* inizio dx */
.dx {
  padding-right: 10px;
}
.dx * {
  display: inline-block;
}
.dx li {
  display: inline-block;
}
.dx li i {
  font-size: 10px;
}
.dx .riga-volume {
  height: 0px;
  vertical-align: middle;
  width: 80px;
  border: 2px solid grey;
  border-radius: 2px;
  position: relative;
}
.dx .riga-volume span {
  position: absolute;
  top: -2px;
  left: -2px;
  height: 0px;
  width: 30px;
  border: 2px solid white;
  border-radius: 2px;
}
.dx .riga-volume:hover span {
    border-color: lightgreen;
}
.dx .riga-volume:hover span::after {
  content: '';
  border: 7px solid white;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  right: -10px;
  height: 0px;
}
/* fine dx */
/* FINE FOOTER */

/* INIZIO MEDIA QUERY */
@media screen and (max-width: 552px) {
  .col-sx-md  {
    display: none;
  }
  .col-sx-xs {
    display: block;
  }
  img {
    display: block;
  }
  .col-dx{
    width: calc(100% - 60px);
  }
  .col-dx .nav {
    left: 60px;
  }
}

/* FINE MEDIA QUERY */
